RewriteEngine On

# Szükség esetén aktiváld ezt:
# RewriteBase /


# Ha nem létező fájl vagy mappa, irányítsd az index.php-ra
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]

# HTTP_AUTHORIZATION header továbbítása
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]