RewriteEngine On

# Szükség esetén aktiváld ezt:
# RewriteBase /

# Tiltás: ha létező fájl vagy mappa, és nem a public mappában van
#RewriteCond %{REQUEST_URI} !^/public/
#RewriteCond %{REQUEST_URI} !^/vendor/
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^.*$ - [F,L]

# Ha nem létező fájl vagy mappa, irányítsd az index.php-ra
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]

# HTTP_AUTHORIZATION header továbbítása
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]